{% extends "layout.html" %}
{% block body %}
  <div class="jumbotron">
    <h1>Welcome to bookmarks!</h1>
    <p>
      This is a simple bookmarking and link shortening software,
      built with Python, Flask, Bootstrap, and a few other libraries.
    </p>
    <p>
      I built this as a learning excercise, expanding upon what I learned in
      Udacity's course "HTTP and Web Servers".
    </p>
    <p>
      - Brandon Yanofsky
    </p>
    <p>
      <a class="btn btn-primary btn-lg" href="https://byanofsky.com" role="button" target="_blank">
        Learn About Me
      </a>
      <a class="btn btn-primary btn-lg" href="https://github.com/byanofsky/bookmarks" role="button" target="_blank">
        View On GitHub
      </a>
    </p>
  </div>
  {% if bookmarks %}
  <h2>Most Visited Bookmarks</h2>
  <ul class="list-group">
    {% for b in bookmarks %}
    <li class="list-group-item">
      <div>
          <p>
            <strong>ID:</strong> {{ b.id }}
            |
            <strong>URL:</strong> {{ b.link }}
            |
            <strong>Hits:</strong> {{ b.hits }}
            |
            <strong>Added by:</strong> {{ b.user.username }}
        </p>
          <a href="{{ url_for('front_page') }}{{ b.id }}" class="btn btn-primary" role="button" target="_blank">
            Visit
          </a>
      </div>
    </li>
    {% endfor %}
  </ul>
  {% else %}
  <p>
    There aren't any bookmarks yet.
  </p>
  {% endif %}
{% endblock %}
