<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Bookmarks</title>
  </head>
  <body>
    <div class="nav">
      <ul>
        <li><a href="{{ url_for('front_page') }}">Home</a></li>
        <li><a href="{{ url_for('register_user') }}">Register</a></li>
        <li><a href="{{ url_for('login_user') }}">Login</a></li>
        <li><a href="{{ url_for('logout_user') }}">Logout</a></li>
        <li><a href="{{ url_for('add_bookmark') }}">Create</a></li>
      </ul>
    </div>
    <div class="user-info">
      {% if current_user.is_authenticated %}
        You are logged in as {{ current_user.name }}
      {% else %}
        You are not currently logged in
      {% endif %}
    </div>
    <div class="flash-messages">
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <ul class="flashes">
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}
    </div>
    {% block body %}{% endblock %}
  </body>
</html>
