<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Bookmarks</title>
  </head>
  <body>
    {{ current_user.id }}
    {{ current_user.is_authenticated }}
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    <div class="nav">
      <ul>
        <li><a href="{{ url_for('front_page') }}">Home</a></li>
        <li><a href="{{ url_for('login_user') }}">Login</a></li>
        <li><a href="{{ url_for('logout_user') }}">Logout</a></li>
        <li><a href="{{ url_for('add_bookmark') }}">Create</a></li>
      </ul>
    </div>
    {% block body %}{% endblock %}
  </body>
</html>
