{% extends "layout.html" %}
{% block body %}
  <form action="" method="post">
    {{ form.csrf_token }}
    {{ form.username.label }} {{ form.username(size=20) }}
    {{ form.name.label }} {{ form.name(size=20) }}
    {{ form.email.label }} {{ form.email(size=20) }}
    {{ form.password.label }} {{ form.password(size=20) }}
    {{ form.confirm.label }} {{ form.confirm(size=20) }}
    {{ form.accept_tos.label }} {{ form.accept_tos(size=20) }}
    <input type="submit" value="Submit">
  </form>
{% endblock %}
